@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alkatra', cursive;
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

/* ---------------color choosing------------- */
:root {
  --primary-color: #5fb32e;
  --secondary-color: #b6e7ce;
  --thresary-color: #ffffff;
  --font-color: #0C2000;
  --focus-color: #e1f8ec;
  --shadow-color: #479c16ab;
  --background-color: #f3f3f5;
  --input-background-color: inherit;
  --input-type-hover: #ffffff;
  --close-btn-color: #ff0000;
  --close-btn-border-color: #d19090;
  --icon-color: #0C2000;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
  --task-list-bg-color: #ffffff;
  --search-box-br-color: #e2e2e2;

}

.darkmode {
  --primary-color: #5fb32e;
  --secondary-color: #b6e7ce;
  --thresary-color: #000000;
  --font-color: white;
  --focus-color: #ffffff;
  --shadow-color: darkgreen;
  --background-color: #191c24;
  --icon-color: #5fb32e;
  --input-background-color: #2a3038;
  --input-type-hover: #ffffff;
  --task-list-bg-color: #191c24;

}

body {
  background-color: var(--background-color);

}

.active {
  pointer-events: none;
}

.main-container {
  position: relative;
}

.header {
  position: fixed;
  z-index: 1;
  background-color: var(--thresary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  top: 0;
  left: 0;
}


/* -----------home page right side element styling----------------- */

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}


/* ------------------for search box and icon---------------- */
.search-box {
  font-size: 14px;
  height: 37px;
  width: 300px;
  color: var(--font-color);
  background-color: var(--thresary-color);
  padding: 0px 10px 0px 40px;
  border: 1px solid var(--search-box-br-color);
  transition: 0.2s;

}

.search-box:focus {
  transition: 0.2s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  outline: none;
  border: 1px solid var(--primary-color);
}

.search-box::placeholder {
  color: var(--font-color);
}

.search-icon {
  color: var(--icon-color);
}

/* ---------------styling for left side elements----------- */

.left-section {
  display: flex;
  gap: 20px;
  align-items: center;
}


.left-section h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: var(--font-color);
  font-weight: bold;
}

.left-section span {
  font-size: 25px;
  color: var(--font-color);
  margin-left: 7px;
  font-weight: 400;
  text-transform: capitalize;

}

@keyframes typing {
  from {
    width: 0ch;
  }

  to {
    width: 10ch;
  }
}

.left-section p {
  font-size: 16px;
  padding: 10px 0px;
}

/* --------------for icon ---------------- */
.icons {
  display: flex;
  gap: 20px;
  list-style: none;
  color: var(--icon-color);
  font-size: 20px;
}

.icons .logout {
  color: var(--icon-color);
}

.right-icon {
  cursor: pointer;
}

/* ---------------styling for add todo buttons---------------- */


.add-todo-inner-section {
  position: relative;
}

.add-todo-btn-section {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  padding: 20px 100px 0px 0px;
}

.add-btn {
  cursor: pointer;
  font-size: 32px;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: white;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 250;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px 0px;
  transition: 0.2s;

}

.type-btn {
  cursor: pointer;
  max-width: none;
}

/* -----------below style for input type visible button (single or multiplr )------------------ */
.add-btn:hover {
  transition: 0.2s;
  rotate: 44deg;
}


.add-btn:hover+.input-type {
  display: block;
}

.rotate {
  rotate: 44deg;
}

.input-type:hover {
  display: block;
}

/* ------------styel for input type   div ----------- */
.input-type {
  position: absolute;
  display: none;
  animation-duration: 0.5s;
  animation-name: showInputBox;
  z-index: 1;
  padding: 16px 0px 0px 0px;
}

@keyframes showInputBox {
  0% {
    top: 40px;
  }

  50% {
    top: 55px;
  }

  75% {
    top: 55px;
  }

  100% {
    top: 55px;
  }
}

/* ------------style for todo input child div------------------ */


.input-type-btn {
  display: flex;
  align-items: center;
  gap: 5%;
}

.input-type-btn>span {
  background-color: var(--thresary-color);
  color: var(--primary-color);
  border-radius: 0px 10px 10px 10px;
  text-align: center;
  line-height: 35px;
  height: 35px;
  width: 90px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px 0px;
  display: none;
}

/* ------------------styling for our default todo portion (home page body content)--------------- */
.body-mainDiv {
  display: flex;
  justify-content: center;
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--thresary-color);
  height: 435px;
  border-radius: 10px;
  box-shadow: #63636333 0px 2px 8px 0px;
}

/* -----------styling for header ---------------- */
.body-content h3 {
  font-weight: 400;
  font-size: 24px;
  padding: 30px 280px 30px 45px;
  color: var(--font-color);
}

/* -----------------main div for all the separate div styling------------- */
.pre-define-todo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pre-define-todo>.contents {
  display: flex;
}

/* ------------inner separate div styling------------------ */
.contents {
  height: 57px;
  width: 522px;
  border-radius: 5px;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

/* ------------for inner content p tag------------ */
.contents p {
  font-size: 16px;
  color: var(--font-color);
}

/* -----------style for add text ----------- */
.contents .add {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
}

.contents .add:hover {
  text-shadow: 2px 2px 8px #5fb32e;
}

/* ============================For single form section============================ */

/* ***************form design css is here after  *****************/
:root {
  --single-border-radius: 5px;
}

.single-input-form {
  display: none;
  position: absolute;
  height: 28rem;
  width: 35rem;
  background-color: var(--thresary-color);
  border-radius: var(--single-border-radius);
  top: 12%;
  right: 29%;
  padding: 0px 24px;
  box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
}

.single-input-form p {
  padding: 10px;
  font-weight: 500;
  text-align: center;
}


.single-input-form label {
  color: var(--font-color);
  font-weight: 500;
}

/* ---------close button for form---------------- */
.close-btn {
  cursor: pointer;
  color: var(--close-btn-color);
  padding: 2px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--close-btn-border-color);
  margin-left: 507px;
  border-radius: 0px 6px 0px 10px;
}

.close-btn:hover {
  font-weight: bold;
  transition: 0.3s;
  border-radius: var(--single-border-radius);
}

/* --------------this show for open the single form ---------------- */
.show {
  display: block;
}

.single-input-form h2 {
  padding: 0px 0px 0px 40px;
}

/* -----below style for task type(personal or professional)---------------- */
.Task_Type {
  display: flex;
  gap: 10px;
  margin-left: 6rem;
  align-items: center;
}

.Task_Type input {
  cursor: pointer;
  height: 35px;
  width: 135px;
}

.Task_Type .typeBtn {
  border: 1px solid var(--primary-color);
  color: #656664;
  border-radius: var(--single-border-radius);
  background-color: var(--input-background-color);
  font-size: 16px;
  transition: 0.3s;
}

/* --------this below style is for inputs (todo input and date)------------ */
.inputdiv div {
  padding: 12px 0px 0px 120px;
  gap: 10px;
  display: grid;
}

.inputdiv input {
  height: 35px;
  width: 305px;
  border: 1px solid var(--primary-color);
  border-radius: var(--single-border-radius);
  background-color: var(--input-background-color);
  columns: var(--font-color);
  padding: 0px 10px;
}

.dateTime {
  cursor: pointer;
}

/* ------------below style is for priority buttons-------------- */
.matix {
  display: flex;
  gap: 60px;
  margin-left: 120px;
  margin-top: 16px;
}

.matix div input {
  height: 25px;
  width: 37px;
  border-radius: var(--single-border-radius);
  border: 1px solid var(--primary-color);
  background-color: var(--input-background-color);
  font-size: 15px;
  margin: 0px 0px 0px 0px;
  font-weight: 500;
  color: #656664;
  cursor: pointer;
  transition: 0.3s;
}



.matix div input:hover {
  background-color: var(--focus-color);
}

input[type='radio'] {
  accent-color: var(--primary-color);
}

button {
  border-radius: var(--single-border-radius);
}

.inputdiv input:focus {
  outline: none;
}

/* ---------single todo form submit button--------- */
.single-input-form .submit-btn {
  width: 155px;
  height: 35px;
  background-color: var(--primary-color);
  border: none;
  color: var(--thresary-color);
  font-size: 16px;
  margin: 20px 0px 11px 181px;
  cursor: pointer;
}

.single-input-form .submit-btn:hover {
  transition: 0.2s;
  box-shadow: #9b9c9a 0px 5px 15px;
}

.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 0px 20px;
}

.wrapper .option {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 136px;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease;
  height: 35px;

}

.wrapper>input[type="radio"] {
  display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
  border-color: #5fb32e;
  background: #5fb32e;
}

#option-1:checked:checked~.option-1 .dot,
#option-2:checked:checked~.option-2 .dot {
  background: #fff;
}

#option-1:checked:checked~.option-1 .dot::before,
#option-2:checked:checked~.option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper .option span {
  font-size: 18px;  
  color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
  color: #fff;

}

/* =====================below style for multi form section================= */

.multiple-input-form {
  position: absolute;
  right: 15%;
  top: 5%;
  display: none;
}

/* -------multi input form close button styling--------- */

:root {
  --multi-border-radius: 7px;
  --inputs-top-margin: 15px;
}


.main-div-closeBtn {
  cursor: pointer;
  color: var(--close-btn-color);
  border: 1px solid var(--close-btn-border-color);
  padding: 3px 14px;
  margin-left: 55pc;
  border-radius: 0px 10px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-div-closeBtn:hover {
  font-weight: bold;
  transition: 0.3s;
  border-radius: var(--multi-border-radius);
}

.show {
  display: block;
}

/* ----------style for form inside of multi input div---------- */
.multiple-input-form .multiple-forms-div {
  width: 1000px;
  background-color: var(--background-color);

  padding: 30px 43px;
  border-radius: var(--multi-border-radius);
  margin-top: 20px;
  border: 1px solid var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.multiple-forms-div label {
  color: var(--font-color);
}

.matix input {
  color: var(--font-color);
}

/* -----------input box styling---------- */
.todo-input-box {
  padding: 10px 0px;
}

.todo-input-box textarea {
  font-size: 16px;
  height: 85px;
  width: 914px;
  border: 1px solid #656664;
  border-radius: var(--multi-border-radius);
  padding: 10px;
  overflow: auto;
  resize: vertical;
}

.todo-input-box textarea:focus {
  outline: none;
  border-color: #52a521;
}

/* ----------other input styling--------- */
.other-input-div {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.task_type {
  margin-top: var(--inputs-top-margin);
}

.task_type .typeBtn {
  cursor: pointer;
  height: 35px;
  width: 135px;
  border: 1px solid #656664;
  color: #656664;
  border-radius: var(--multi-border-radius);

  color: var(--font-color);
  font-size: 16px;
}

.other-input-div input {
  height: 35px;
  border-radius: var(--multi-border-radius);
  border: 1px solid #656664;
  color: var(--font-color);
  background-color: var(--input-background-color);
}


.multiDateTime {
  padding: 0px 10px;
  margin-top: var(--inputs-top-margin);
  width: 225px;
}

.multiDateTime:focus {
  outline: none;
}

/* ------------priority buttons styling----------- */
.urgentDiv input {
  cursor: pointer;
  width: 35px;
  margin-top: var(--inputs-top-margin);
}

.ImportantDiv input {
  cursor: pointer;
  width: 35px;
  margin-top: var(--inputs-top-margin);
}

.urgentDiv>div,
.ImportantDiv>div {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ------------multi form submit button styling--------- */
.multiForm-btn-div {
  display: flex;
  justify-content: end;
  margin: 10px 0px;
  gap: 20px;
}

.multiple-input-form .submit-btn,
.cancel-btn {
  height: 40px;
  width: 120px;
  font-size: 16px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  color: var(--font-color);
}

.multiple-input-form .cancel-btn {

  background-color: #82868B;
  color: var(--thresary-color);
}

.multiple-input-form .submit-btn:hover {
  transition: 0.2s;
  box-shadow: var(--shadow-color) 0px 4px 10px;
}

.multiple-input-form .cancel-btn:hover {
  transition: 0.2s;
  box-shadow: #a7abaf 0px 4px 10px;
}


/* -------------add more button ---------- */
.addOneMoreTodo {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.addDivBtn {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--font-color);
  font-size: 26px;
  border-radius: var(--multi-border-radius);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addDivBtn:hover {
  transition: 0.2s;
  box-shadow: #abf381 0px 5px 15px;

}

/* ================================================================================ */

/* notification list div */

.Habitsdiv {

  width: 343px;
  display: none;
  border: 2px solid black;
  position: absolute;
  min-height: 529px;
  top: 0px;
  left: 72%;
  border-radius: 10px;
  background-color: #FFFFFF;
  z-index: 1;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.Habitsdiv .notification-title {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  align-items: center;
}

.Habitsdiv hr {
  height: 1px;
  background-color: #7F808A;

  border: none;

}

.Habitsdiv .notification-title   {
  border: none;
  background: none;
  color: red;
  font-size: 18px;  
  cursor: pointer;
}

.cancelicon {
  cursor: pointer;
  color: red;
  color: var(--close-btn-color);
  border: 1px solid var(--close-btn-border-color);
  padding: 1px 8px;
  border-radius: 0px 10px 0px 10px;
  display: inline;
}

.cancelicon:hover{
  font-weight: bold;
  transition: 0.3s;
  border-radius: var(--multi-border-radius);
}
.Habitsdiv .Tasklist {
  justify-content: space-between;
  display: flex;
  background-color: #D9D9D9;
  width: 302px;
  height: 43px;
  align-items: center;
  margin: 15px 25px 0px 25px;
  border-radius: 5px;
  padding: 0px 15px;
}

button.removetask {
  border: none;
  cursor: pointer;
  color: red;
  background: none;
}

.showdiv {
  display: block;
}

.activeBtn {
  background-color: black;
}

.notification-success {
  display: flex;
  background-color: white;
  padding: 10px;
  width: 250px;
  justify-content: space-around;
  border-radius: 5px;
  display: flex;
  position: relative;
  bottom: 85px;
  left: 868px;
}

.notifyIcon {
  height: 30px;
  width: 30px;
}

.notification-success>p {
  margin-top: 5px;
}

#succcess {
  display: none;
}

.black-screen {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 30%;
  display: none;
  pointer-events: none;
}







/* ========================= profile infomation styles ============ */
/* .User_profile {
  width: 35px;
  border-radius: 100px;

  border: 2px solid black;
}
.User_profile>img{
  width: 35px;
  border-radius: 100px;
  border: 2px solid black;
} */

.settings {
  position: absolute;
  display: none;
  background-color: var(--input-type-hover);
  border-radius: 5px;
  width: 250px;
  min-height: 108px;
  padding: 20px 0px 9px 12px;
  left: 1100px;
  top: 14px;
  bottom: 565px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

div#close-profile-div {
  margin-left: 837px;
}

.Change-info {
  display: flex;
  background-color: #F5F5F5;
  height: 30px;
  width: 226px;
  padding: 4px 15px;
  gap: 44px;
  margin-bottom: 10px;
  cursor: pointer;
}

.profile-div {
  display: flex;
  flex-direction: column;
  background-color: var(--thresary-color);
  height: 489px;
  width: 867px;
  border-radius: 10px;
  box-shadow: #63636333 0px 2px 8px 0px;
}

.profile-div h1 {
  align-items: center;
}

.profile-div {
  position: fixed;
  top: 23%;
  right: 18%;
  display: none;
}

.profile-div h1 {
  margin: -27px 0px 0px 350px;
  font-size: 24px;
}

.Profile-img {
  display: flex;
  gap: 20px;
}

.Profile-img div img {
  width: 100px;
  border-radius: 100px;
}

.Profile-img button {
  border: 2px solid #7F808A;
  height: 40px;
  padding: 8px 17px;
  margin-top: 36px;
}

.Profile-data {
  padding: 26px 0px 0px 200px;
}

.data-input div {
  padding: 10px 0px 10px 0px;
  gap: 10px;
  display: grid;
}

.data-input div input {
  padding: 0px 0px 0px 21px;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #7F808A;
}

.data-input div p {
  position: absolute;
  left: 545px;
  padding-top: 42px;
  border-bottom: 2px solid #7F808A;
  color: #7F808A;
}

.viewProfile {
  display: block;
  z-index: 1;
}

.showuserdata {
  display: block;
  z-index: 1;
}