* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

/* ---------------color choosing------------- */
:root {
  --primary-color: #5fb32e;
  --secondary-color: #b6e7ce;
  --thresary-color: #ffffff;
  --font-color: #000000;
  --focus-color: #e1f8ec;
  --shadow-color: #479c16ab;
  --background-color: #f3f3f5;
  --icon-color: #000000;
  --input-background-color: inherit;
}

.darkmode {
  --primary-color: #5fb32e;
  --secondary-color: #b6e7ce;
  --thresary-color: #000000;
  --font-color: white;
  --focus-color: #ffffff;
  --shadow-color: darkgreen;
  --background-color: #191c24;
  --icon-color: #5fb32e;
  --input-background-color: #2a3038;
}

body {
  background-color: var(--background-color);
}

.container {
  position: relative;
  padding: 35px 80px;
}

.active {
  filter: blur(1px);
  pointer-events: none;
  user-select: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

/* -----------home page right side element styling----------------- */
.left-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

/* ---------------for search icon ------------------ */
.search-icon-div {
  color: var(--icon-color);
  position: absolute;
  right: 378px;
  top: 17px;
  font-size: 20px;

}


/* ------------------for search box ---------------- */
.input-box {
  font-size: 14px;
  height: 37px;
  width: 300px;
  border-radius: 5px;
  color: var(--font-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
      background-color: var(--thresary-color);
  padding: 0px 10px 0px 45px;
  border: 1px solid white;
}

.input-box:focus {
  transition: 0.4s;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  outline: none;
  border: 1px solid #52a521;
}

.input-box::placeholder {
  color: var(--font-color);
}

/* ---------------styling for left side elements----------- */
.left-section h1 {
  font-size: 22px;
  color: var(--font-color);
}

.left-section .username {
  font-size: 22px;
  padding: 0px 6px;
  font-weight: 100;
}

.left-section p {
  font-size: 16px;
  padding: 10px 0px;
}

/* --------------for icon ---------------- */
.icons {
  display: flex;
  gap: 20px;
  list-style: none;
  color: var(--icon-color);
  font-size: 20px;
}

.icons .logout {
  color: var(--icon-color);
}

.right-icon {
  cursor: pointer;
}

/* ---------------styling for add todo buttons---------------- */
.add-todo-inner-section {
  position: relative;
}

.add-todo-btn-section {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  padding: 25px 0px;
}

.add-btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  padding: 10px 43px;
}

.add-btn:hover {
  box-shadow: var(--shadow-color) 0px 5px 15px;
  border-radius: 5px 5px 0px 0px;
}

/* -----------below style for input type visible button (single or multiplr )------------------ */
.add-btn:hover+.input-type {
  display: block;
}

.input-type:hover {
  display: block;
}

/* ------------styel for input type   div ----------- */
.input-type {
  position: absolute;
  background-color: var(--thresary-color);
  border-radius: 0px 0px 5px 5px;
  box-shadow: #9b9c9a 0px 5px 15px;
  display: none;
  animation-duration: 1s;
  animation-name: showInputBox;
  z-index: 1;
}

@keyframes showInputBox {
  0% {
    top: 70px;
  }

  25% {
    top: 40px;
  }

  50% {
    top: 40px;
  }

  75% {
    top: 40px;
  }

  100% {
    top: 40px;
  }
}

/* ------------style for todo input child div------------------ */
.input-type div {
  cursor: pointer;
  text-align: center;
  color: var(--primary-color);
  padding: 10px 53px;
}

/* -----------------style for todo input type(single or multiple)---------------- */
.input-type div:hover {
  color: var(--thresary-color);
  background-color: #838f7cfa;
}

/* ------------------styling for our default todo portion (home page body content)--------------- */
.body-mainDiv {
  display: flex;
  justify-content: center;
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--thresary-color);
  height: 435px;
  width: 753px;
  border-radius: 10px;
  box-shadow: #63636333 0px 2px 8px 0px;
}

/* -----------styling for header ---------------- */
.body-content h3 {
  font-weight: 400;
  font-size: 24px;
  padding: 35px 282px 25px 45px;
}

/* -----------------main div for all the separate div styling------------- */
.pre-define-todo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* ------------inner separate div styling------------------ */
.contents {
  height: 57px;
  width: 522px;
  border-radius: 5px;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

/* ------------for inner content p tag------------ */
.contents p {
  font-size: 16px;
  color: var(--font-color);
}

/* -----------style for add text ----------- */
.contents .add {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
}

.contents .add:hover {
  text-shadow: 2px 2px 8px #5fb32e;
}

/* ============================For single form section============================ */

/* ***************form design css is here after  *****************/
:root {
  --single-border-radius: 5px;
}

.single-input-form {
  display: none;
  position: absolute;
  height: 27rem;
  width: 770px;
  background-color: var(--thresary-color);
  border-radius: var(--single-border-radius);
  right: 18rem;
  top: 163px;
  padding: 25px 25px;
  box-shadow: #00000029 0px 10px 36px 0px,
    #0000000f 0px 0px 0px 1px;
}

.single-input-form p {
  padding-left: 200px;
  color: var(--font-color);
}

.single-input-form label {
  color: var(--font-color);
}

/* ---------close button for form---------------- */
.close-btn {
  cursor: pointer;
  color: var(--primary-color);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  margin-left: 690px;
  font-weight: bold;
}

.close-btn:hover {
  transition: 0.3s;
  border-radius: var(--single-border-radius);
  color: var(--thresary-color);
  background-color: var(--primary-color);
  box-shadow: var(--shadow-color) 0px 0px 8px 0px;
}

/* --------------this show for open the single form ---------------- */
.show {
  display: block;
}

.single-input-form h2 {
  padding: 0px 0px 0px 40px;
}

/* .single-input-form form {
  padding-top: 20px;
} */

/* -----below style for task type(personal or professional)---------------- */
.Task_Type {
  padding: 10px 0px 0px 200px;
  display: flex;
  gap: 10px;
}

.Task_Type input {
  cursor: pointer;
  height: 35px;
  width: 135px;
}

/* .Task_Type input:hover {
  background-color: var(--focus-color);
} */

.Task_Type .typeBtn {
  border: 1px solid var(--primary-color);
  color: #656664;
  border-radius: var(--single-border-radius);
  background-color: var(--input-background-color);
  font-size: 16px;
  transition: 0.3s;
}

/* --------this below style is for inputs (todo input and date)------------ */
.inputdiv div {
  padding: 12px 0px 0px 198px;
  gap: 10px;
  display: grid;
}

.inputdiv input {
  height: 35px;
  width: 275px;
  border: 1px solid var(--primary-color);
  border-radius: var(--single-border-radius);
  /* background-color: var(--thresary-color); */
  background-color: var(--input-background-color);
  columns: var(--font-color);
  padding: 0px 10px;
}

.dateTime {
  cursor: pointer;
}

/* .inputdiv input:hover {
  background-color: var(--focus-color);
} */

/* button.addTodo {
  height: 35px;
} */
/* ------------below style is for our priority buttons-------------- */
.matix {
  display: flex;
  padding: 12px 0px 0px 200px;
  gap: 35px;
}

.matix div input {
  height: 31px;
  width: 38px;
  border-radius: var(--single-border-radius);
  border: 1px solid var(--primary-color);
  background-color: var(--input-background-color);
  font-size: 15px;
  margin: 5px 5px 0px 0px;
  font-weight: 500;
  color: #656664;
  cursor: pointer;
  transition: 0.3s;

}

.matix div input:hover {
  background-color: var(--focus-color);
}

button {
  border-radius: var(--single-border-radius);
}

.inputdiv input:focus {
  /* background-color: var(--focus-color); */
  outline: none;
}

/* ---------single todo form submit button--------- */
.single-input-form .submit-btn {
  width: 155px;
  height: 35px;
  background-color: var(--primary-color);
  border: none;
  color: var(--thresary-color);
  font-size: 16px;
  margin: 20px 0px 10px 200px;
  cursor: pointer;
}

.single-input-form .submit-btn:hover {
  transition: 0.2s;
  box-shadow: #9b9c9a 0px 5px 15px;
}

/* =====================below style for multi form section================= */

.multiple-input-form {
  position: absolute;
  top: 140px;
  right: 190px;
  display: none;
}

/* .divCon{
  display: none;
} */

/* -------multi input form close button styling--------- */

:root {
  --multi-border-radius: 7px;
  --inputs-top-margin: 15px;
}

.main-div-closeBtn {
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 600;
  border: 1px solid var(--primary-color);
  width: fit-content;
  padding: 5px 10px;
  margin-left: 55pc;
  border-radius: 3px;
}

.main-div-closeBtn:hover {
  transition: 0.3s;
  border-radius: var(--multi-border-radius);
  color: var(--thresary-color);
  background-color: var(--primary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.show {
  display: block;
}

/* ----------style for form inside of multi input div---------- */
.multiple-input-form .multiple-forms-div {
  width: 1000px;
  background-color: var(--background-color);

  padding: 30px 43px;
  border-radius: var(--multi-border-radius);
  margin-top: 20px;
  border: 1px solid var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.multiple-forms-div label {
  color: var(--font-color);
}

.matix input {
  color: var(--font-color);
}

/* ---------multi form one specific form closing button ----------- */
.multi-close-btn {
  cursor: pointer;
  color: var(--primary-color);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--multi-border-radius);
  border: 1px solid #656664;
  margin-left: 890px;
  font-weight: bold;
}

.multi-close-btn:hover {
  transition: 0.2s;
  color: var(--thresary-color);
  background-color: var(--primary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* -----------input box styling---------- */
.todo-input-box {
  padding: 10px 0px;
}

.todo-input-box textarea {
  font-size: 16px;
  height: 85px;
  width: 914px;
  border: 1px solid #656664;
  border-radius: var(--multi-border-radius);
  padding: 10px;
  overflow: auto;
  resize: vertical;
}

.todo-input-box textarea:focus {
  outline: none;
  border-color: #52a521;
}

/* ----------other input styling--------- */
.other-input-div {
  display: flex;
  gap: 65px;
}

.task_type {
  margin-top: var(--inputs-top-margin);
}

.task_type .typeBtn {
  cursor: pointer;
  height: 35px;
  width: 135px;
  border: 1px solid #656664;
  color: #656664;
  border-radius: var(--multi-border-radius);

  color: var(--font-color);
  font-size: 16px;
}

.other-input-div input {
  height: 35px;
  border-radius: var(--multi-border-radius);
  border: 1px solid #656664;
  color: var(--font-color);
  /* background-color: var(--background-color); */
  background-color: var(--input-background-color);
}


.multiDateTime {
  padding: 0px 10px;
  margin-top: var(--inputs-top-margin);
  width: 225px;
}

.multiDateTime:focus {
  outline: none;
}

/* ------------priority buttons styling----------- */
.urgentDiv input {
  cursor: pointer;
  width: 35px;
  margin-top: var(--inputs-top-margin);
}

.ImportantDiv input {
  cursor: pointer;
  width: 35px;
  margin-top: var(--inputs-top-margin);
}

/* ------------multi form submit button styling--------- */
.multiForm-btn-div {
  display: flex;
  justify-content: end;
  margin: 10px 0px;
  gap: 20px;
}

.multiple-input-form .submit-btn,
.cancel-btn {
  height: 40px;
  width: 120px;
  font-size: 16px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  color: var(--thresary-color);
}

.multiple-input-form .cancel-btn {

  background-color: #82868B;
  color: var(--thresary-color);
}

.multiple-input-form .submit-btn:hover {
  transition: 0.2s;
  box-shadow: var(--shadow-color) 0px 4px 10px;
}

.multiple-input-form .cancel-btn:hover {
  transition: 0.2s;
  box-shadow: #a7abaf 0px 4px 10px;
}


/* -------------add more button ---------- */
.addOneMoreTodo {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.addDivBtn {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--thresary-color);
  font-size: 26px;
  border-radius: var(--multi-border-radius);
  width: 35px;
  height: 35px;
  text-align: center;
}

.addDivBtn:hover {
  transition: 0.2s;
  box-shadow: #abf381 0px 5px 15px;

}



/* ================================================================================ */

/* notification list div */

.Habitsdiv {

  width: 343px;
  display: none;
  border: 2px solid black;
  position: absolute;
  min-height: 550px;
  top: 85px;
  left: 1000px;
  border-radius: 10px;
  background-color: #FFFFFF;
  z-index: 1;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.Habitsdiv .notification-title {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  align-items: center;
}

.Habitsdiv hr {
  height: 1px;
  background-color: #7F808A;

  border: none;

}

.Habitsdiv .notification-title .cancelicon {
  border: none;
  background: none;
  color: red;
  font-size: 22px;
  cursor: pointer;
}

.Habitsdiv .Tasklist {
  justify-content: space-between;
  display: flex;
  background-color: #D9D9D9;
  width: 302px;
  height: 43px;
  align-items: center;
  margin: 15px 25px 0px 25px;
  border-radius: 5px;
  padding: 0px 15px;
}

button.removetask {
  border: none;
  cursor: pointer;
  color: red;
  background: none;
}

.showdiv {
  display: block;
}

.activeBtn {
  background-color: black;
}