@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

/* ---------------color choosing------------- */
:root {
  --primary-color: #5fb32e;
  --secondary-color: #b6e7ce;
  --thresary-color: #ffffff;
  --font-color: #000000;
  --focus-color: #e1f8ec;
  --shadow-color: #479c16ab;
  --background-color: #f3f3f5;
  --input-background-color: inherit;
  --input-type-hover: #ffffff;
  --do-color: #99CC11;
  --defer-color: #4588EE;
  --delegate-color: #F7A821;
  --delete-color: #CE4317;
  --icon-color: #000000;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

.darkmode {
  --primary-color: #5fb32e;
  --secondary-color: #b6e7ce;
  --thresary-color: #000000;
  --font-color: white;
  --focus-color: #ffffff;
  --shadow-color: darkgreen;
  --background-color: #191c24;
  --icon-color: #5fb32e;
  --input-background-color: #2a3038;
  --input-type-hover: #ffffff;
}

body {
  background-color: var(--background-color);
}

.container {
  position: relative;
  padding: 35px 80px;
  width: -webkit-fill-available;
}

.active {
  color: var(--background-color);
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

/* -----------home page right side element styling----------------- */
.left-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

/* ---------------for search icon ------------------ */
.search-icon-div {
  color: var(--icon-color);
  position: absolute;
  right: 378px;
  top: 17px;
  font-size: 20px;

}


/* ------------------for search box ---------------- */
.input-box {
  font-size: 14px;
  height: 37px;
  width: 300px;
  border-radius: 5px;
  color: var(--font-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
  background-color: var(--thresary-color);
  padding: 0px 10px 0px 45px;
  border: 1px solid white;
}

.input-box:focus {
  transition: 0.4s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  outline: none;
  border: 1px solid #52a521;
}

.input-box::placeholder {
  color: var(--font-color);
}

/* ---------------styling for left side elements----------- */
.left-section h1 {
  font-size: 22px;
  color: var(--font-color);
}

.left-section .username {
  font-size: 22px;
  padding: 0px 6px;
  font-weight: 100;
}

.left-section p {
  font-size: 16px;
  padding: 10px 0px;
}

/* --------------for icon ---------------- */
.icons {
  display: flex;
  gap: 20px;
  list-style: none;
  color: var(--icon-color);
  font-size: 20px;
}

.icons .logout {
  color: var(--icon-color);
}

.right-icon {
  cursor: pointer;
}

/* ---------------styling for add todo buttons---------------- */
.add-todo-inner-section {
  position: relative;
}

.add-todo-btn-section {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  padding: 25px 0px;
}

.add-btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  padding: 10px 43px;
}

.add-btn:hover {
  box-shadow: var(--shadow-color) 0px 5px 15px;
  border-radius: 5px 5px 0px 0px;
}

/* -----------below style for input type visible button (single or multiplr )------------------ */
.add-btn:hover+.input-type {
  display: block;
}

.input-type:hover {
  display: block;
}

/* ------------styel for input type   div ----------- */
.input-type {
  position: absolute;
  background-color: var(--input-type-hover);
  border-radius: 0px 0px 5px 5px;
  display: none;
  animation-duration: 1s;
  animation-name: showInputBox;
  z-index: 1;
}

@keyframes showInputBox {
  0% {
    top: 70px;
  }

  25% {
    top: 40px;
  }

  50% {
    top: 40px;
  }

  75% {
    top: 40px;
  }

  100% {
    top: 40px;
  }
}

/* ------------style for todo input child div------------------ */
.input-type div {
  cursor: pointer;
  text-align: center;
  color: var(--primary-color);
  padding: 10px 53px;
}

/* -----------------style for todo input type(single or multiple)---------------- */
.input-type div:hover {
  color: var(--thresary-color);
  background-color: #838f7cfa;
}

/* ============================For single form section============================ */

/* ***************form design css is here after  *****************/
:root {
  --single-border-radius: 5px;
}

.single-input-form {
  display: none;
  position: absolute;
  height: 27rem;
  width: 35rem;
  background-color: var(--thresary-color);
  border-radius: var(--single-border-radius);
  right: 18rem;
  top: 163px;
  padding: 25px 25px;
  box-shadow: #00000029 0px 10px 36px 0px,
    #0000000f 0px 0px 0px 1px;
}

.single-input-form p {
  /* padding-left: 200px; */
  color: var(--font-color);
}

.single-input-form label {
  color: var(--font-color);
}

/* ---------close button for form---------------- */
.close-btn {
  cursor: pointer;
  color: var(--primary-color);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  margin-left: 30rem;
  font-weight: bold;
}

.close-btn:hover {
  transition: 0.3s;
  border-radius: var(--single-border-radius);
  color: var(--thresary-color);
  background-color: var(--primary-color);
  box-shadow: var(--shadow-color) 0px 0px 8px 0px;
}

/* --------------this show for open the single form ---------------- */
.show {
  display: block;
}

.single-input-form h2 {
  /* padding: 0px 0px 0px 40px; */
}

/* .single-input-form form {
  padding-top: 20px;
} */

/* -----below style for task type(personal or professional)---------------- */
.Task_Type {
  padding: 10px 0px 0px 0px;
  display: flex;
  gap: 10px;
}

.Task_Type input {
  cursor: pointer;
  height: 35px;
  width: 135px;
}

/* .Task_Type input:hover {
  background-color: var(--focus-color);
} */

.Task_Type .typeBtn {
  border: 1px solid var(--primary-color);
  color: #656664;
  border-radius: var(--single-border-radius);
  background-color: var(--input-background-color);
  font-size: 16px;
  transition: 0.3s;
}

/* --------this below style is for inputs (todo input and date)------------ */
.inputdiv div {
  padding: 12px 0px 0px px;
  gap: 10px;
  display: grid;
}

.inputdiv input {
  height: 35px;
  width: 275px;
  border: 1px solid var(--primary-color);
  border-radius: var(--single-border-radius);
  /* background-color: var(--thresary-color); */
  background-color: var(--input-background-color);
  columns: var(--font-color);
  padding: 0px 10px;
}

.dateTime {
  cursor: pointer;
}

/* .inputdiv input:hover {
  background-color: var(--focus-color);
} */

/* button.addTodo {
  height: 35px;
} */
/* ------------below style is for our priority buttons-------------- */
.matix {
  display: flex;
  padding: 12px 0px 0px 0px;
  gap: 35px;
}

.matix div input {
  height: 31px;
  width: 38px;
  border-radius: var(--single-border-radius);
  border: 1px solid var(--primary-color);
  background-color: var(--input-background-color);
  font-size: 15px;
  margin: 5px 5px 0px 0px;
  font-weight: 500;
  color: #656664;
  cursor: pointer;
  transition: 0.3s;

}

.matix div input:hover {
  background-color: var(--focus-color);
}

button {
  border-radius: var(--single-border-radius);
}

.inputdiv input:focus {
  /* background-color: var(--focus-color); */
  outline: none;
}

/* ---------single todo form submit button--------- */
.single-input-form .submit-btn {
  width: 155px;
  height: 35px;
  background-color: var(--primary-color);
  border: none;
  color: var(--thresary-color);
  font-size: 16px;
  margin: 20px 0px 10px 0px;
  cursor: pointer;
}

.single-input-form .submit-btn:hover {
  transition: 0.2s;
  box-shadow: #9b9c9a 0px 5px 15px;
}

/* =============================================================================================== */

/* =====================below style for multi form section================= */

.multiple-input-form {
  position: absolute;
  top: 140px;
  right: 190px;
  display: none;
}

/* .divCon{
  display: none;
} */

/* -------multi input form close button styling--------- */

:root {
  --multi-border-radius: 7px;
  --inputs-top-margin: 15px;
}

.main-div-closeBtn {
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 600;
  border: 1px solid var(--primary-color);
  width: fit-content;
  padding: 5px 10px;
  margin-left: 55pc;
  border-radius: 3px;
}

.main-div-closeBtn:hover {
  transition: 0.3s;
  border-radius: var(--multi-border-radius);
  color: var(--thresary-color);
  background-color: var(--primary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.show {
  display: block;
}

/* ----------style for form inside of multi input div---------- */
.multiple-input-form .multiple-forms-div {
  width: 1000px;
  background-color: var(--background-color);

  padding: 30px 43px;
  border-radius: var(--multi-border-radius);
  margin-top: 20px;
  border: 1px solid var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.multiple-forms-div label {
  color: var(--font-color);
}

.matix input {
  color: var(--font-color);
}

/* ---------multi form one specific form closing button ----------- */
.multi-close-btn {
  cursor: pointer;
  color: var(--primary-color);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--multi-border-radius);
  border: 1px solid #656664;
  margin-left: 890px;
  font-weight: bold;
}

.multi-close-btn:hover {
  transition: 0.2s;
  color: var(--thresary-color);
  background-color: var(--primary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* -----------input box styling---------- */
.todo-input-box {
  padding: 10px 0px;
}

.todo-input-box textarea {
  font-size: 16px;
  height: 85px;
  width: 914px;
  border: 1px solid #656664;
  border-radius: var(--multi-border-radius);
  padding: 10px;
  overflow: auto;
  resize: vertical;
}

.todo-input-box textarea:focus {
  outline: none;
  border-color: #52a521;
}

/* ----------other input styling--------- */
.other-input-div {
  display: flex;
  gap: 65px;
}

.task_type {
  margin-top: var(--inputs-top-margin);
}

.task_type .typeBtn {
  cursor: pointer;
  height: 35px;
  width: 135px;
  border: 1px solid #656664;
  color: #656664;
  border-radius: var(--multi-border-radius);

  color: var(--font-color);
  font-size: 16px;
}

.other-input-div input {
  height: 35px;
  border-radius: var(--multi-border-radius);
  border: 1px solid #656664;
  color: var(--font-color);
  /* background-color: var(--background-color); */
  background-color: var(--input-background-color);
}


.multiDateTime {
  padding: 0px 10px;
  margin-top: var(--inputs-top-margin);
  width: 225px;
}

.multiDateTime:focus {
  outline: none;
}

/* ------------priority buttons styling----------- */
.urgentDiv input {
  cursor: pointer;
  width: 35px;
  margin-top: var(--inputs-top-margin);
}

.ImportantDiv input {
  cursor: pointer;
  width: 35px;
  margin-top: var(--inputs-top-margin);
}

/* ------------multi form submit button styling--------- */
.multiForm-btn-div {
  display: flex;
  justify-content: end;
  margin: 10px 0px;
  gap: 20px;
}

.multiple-input-form .submit-btn,
.cancel-btn {
  height: 40px;
  width: 120px;
  font-size: 16px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  color: var(--thresary-color);
}

.multiple-input-form .cancel-btn {

  background-color: #82868B;
  color: var(--thresary-color);
}

.multiple-input-form .submit-btn:hover {
  transition: 0.2s;
  box-shadow: var(--shadow-color) 0px 4px 10px;
}

.multiple-input-form .cancel-btn:hover {
  transition: 0.2s;
  box-shadow: #a7abaf 0px 4px 10px;
}


/* -------------add more button ---------- */
.addOneMoreTodo {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.addDivBtn {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--thresary-color);
  font-size: 26px;
  border-radius: var(--multi-border-radius);
  width: 35px;
  height: 35px;
  text-align: center;
}

.addDivBtn:hover {
  transition: 0.2s;
  box-shadow: #abf381 0px 5px 15px;

}



/* ================================================================================ */




/* ================================================================================================= */
/* 
.doBox {
  height: 200px;
  width: 371px;
  border-radius: 20px;
}

.doBox {
  color: var(--font-color);
}

.taskDetailBox {
  display: flex;
  gap: 10px 110px;
  width: 860px;
  flex-wrap: wrap;
  margin-left: 160px;
}

.heading {
  color: var(--font-color);
  font-weight: bolder;
  margin: 10px;
}

.Task_Type {
  display: flex;
}
.do>.doBox {
  background-color: var(--do-color);
}
.defer>.doBox {
  background-color: var(--defer-color);
}

.deleate>.doBox {
  background-color: var(--delegate-color);
}

.delete>.doBox {
  background-color: var(--delete-color);

}

.time {
  display: flex;
  justify-content: flex-end;
}

.doBox {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  list-style: none;
}

.time>:first-child {
  margin-right: 7px;
}

.doBox:hover {
  box-shadow: 7px 7px 24px rgb(122 120 151);
} */


* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  border-radius: 5  px;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.90) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(https://img.freepik.com/free-vector/flat-design-starting-line-business-illustration_23-2149498656.jpg?size=626&ext=jpg&ga=GA1.2.2017626677.1691142482&semt=ais);
}
.card:nth-child(2):before {
  background-image: url(https://cdn.discordapp.com/attachments/1031926160747139112/1136975523076116540/Group_1000002089.png);
}
.card:nth-child(3):before {
  background-image: url(https://img.freepik.com/free-vector/add-files-concept-illustration_114360-511.jpg?w=740&t=st=1691147303~exp=1691147903~hmac=19225471150743acd363abbce7d7dabfab09cc0ef614cf3b5890c61d7eaeba54);
}
.card:nth-child(4):before {
  background-image: url(https://img.freepik.com/free-vector/young-guy-carrying-bag-with-garbage-trash-bin_74855-7952.jpg?w=740&t=st=1691147471~exp=1691148071~hmac=14de78aa2077d351812b48c735a0552a1bd490b993c97fd29b38989fb0eeb617);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.title:before{
  color: #0A2E1F;
}

.copy {
  /* font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35; */
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
/* ================================================================================ */

/* notification list div */

.Habitsdiv {

  width: 343px;
  display: none;
  border: 2px solid black;
  position: absolute;
  min-height: 550px;
  top: 85px;
  left: 920px;
  border-radius: 10px;
  background-color: #FFFFFF;
  z-index: 1;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.Habitsdiv .notification-title {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  align-items: center;
}

.Habitsdiv hr {
  height: 1px;
  background-color: #7F808A;

  border: none;

}

.Habitsdiv .notification-title .cancelicon {
  border: none;
  background: none;
  color: red;
  font-size: 22px;
  cursor: pointer;
}

.Habitsdiv .Tasklist {
  justify-content: space-between;
  display: flex;
  background-color: #D9D9D9;
  width: 302px;
  height: 43px;
  align-items: center;
  margin: 15px 25px 0px 25px;
  border-radius: 5px;
  padding: 0px 15px;
}

button.removetask {
  border: none;
  cursor: pointer;
  color: red;
  background: none;
}

.showdiv {
  display: block;
}

.activeBtn {
  background-color: black;
}