<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../View/style.css" />
    <title>Document</title>
</head>

<body>
        <div style="background-color: aqua; height: 250px; width: 500px; display: flex; align-items: center; justify-content: center;" >
            <p class="firtPtag">jsdsdkf</p>
            <h1>ewqrugewik</h1>
            <img src="../Images/dark_mode.png">
        </div>

        <div >
            <p id="secondTag">jsdsdkf</p>
            <h1>ewqrugewik</h1>
            <img src="../Images/dark_mode.png">
        </div>
</body>

</html>