<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../CSS/listing.css" />
  <link rel="stylesheet" href="https://cdn.tailwindcss.com">
  <script src="https://kit.fontawesome.com/52d2b40c3f.js" crossorigin="anonymous"></script>



</head>

<body>

  <!-- this is the main container of the application -->
  <div class="container">

    <div class="Habitsdiv">
      <div class="notification-title">
        <h4>Notification </h4>
        <button class="cancelicon" id="close-notificationList">X</button>
      </div>
      <hr>
      <?php foreach ($tasks as $key => $value) :?>
      <div class="Tasklist">
        <p>
          <?php echo $value['name'] ?>
        </p>
        <form method="post" action="/deleteAddedTask">
          <button class="removetask" name="<?php echo $value['id'] ?>">Remove</button>
        </form>
      </div>
      <?php endforeach; ?>
    </div>
    <div class="inner-container">
      <header class="header">
        <div class="left-section">
          <img src="../Images/logo.png">
          <h1>What's Up<span class="username">
              <!-- <?php echo $_SESSION['username']; ?> -->
            </span></h1>
        </div>
        <!-- this is our right side contents -->
        <div class="right-section">
          <div class="search-icon-div">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <input placeholder="search" type="search" class="input-box" />
          <ul class="icons">
            <li class="right-icon">
              <i class="fa-regular fa-bell notification" onclick="openNotofy()"></i>
            </li>
            <li class="right-icon">
              <i class="fa-regular fa-moon darkmode"></i>
            </li>
            <li class="right-icon">
              <a href="/logout">
                <i class="fa-solid fa-arrow-right-from-bracket logout"></i>
              </a>
            </li>
          </ul>
        </div>
      </header>

      <!-- this below section is for add button -->
      <div class="add-todo-btn-section">
        <div class="add-todo-inner-section">
          <h2 class="add-btn">ADD TASK</h2>
          <div class="input-type">
            <div class="input-type-btn">
              <span>Single</span>
            </div>
            <div class="input-type-btn">
              <span>Multiple</span>
            </div>
          </div>
        </div>
      </div>

      <div class="taskDetailBox">
        <div class="do">
          <p class="heading">Do</p>
          <div class="doBox">
            <div class="welcome">
              <li>welcome</li>
            </div>
            <div class="time">
              <li>15/7</li>
              <li>12.00 PM</li>
            </div>
          </div>
        </div>
        <div class="defer">
          <p class="heading">Defer</p>
          <div class="doBox"></div>
        </div>
        <div class="deleate">
          <p class="heading">Delegate</p>
          <div class="doBox"></div>
        </div>
        <div class="delete">
          <p class="heading">Delete</p>
          <div class="doBox"></div>
        </div>

      </div>
      <section id="taskDetailView">
        <!-- <h1>Task List</h1>
            <p>list the task</p> -->
      </section>
    </div>

    <!-- this section is our single input form ----------- (it is separated from the inner container div for background blur)-->
    <div class="single-input-form">
      <form action="/store" method="post">
        <div class="close-btn">
          <div>
            <span>X</span>
          </div>
        </div>
        <p>Pick Category</p>


        <div class="Task_Type">
          <div class="wrapper">
            <input name="user_id" class="user_id" value="<?=$_SESSION['userid']?>" type="hidden">

            <input type="radio" name="task_type" id="option-1" value="1" class="category" checked>
            <input type="radio" name="task_type" id="option-2" value="2" class="category">

            <label for="option-1" class="option option-1">
              <div class="dot"></div>
              <span>Professional</span>
            </label>

            <label for="option-2" class="option option-2">
              <div class="dot"></div>
              <span>Personal</span>
            </label>
          </div>
          <!-- <label for="css">Professional</label><br>
            <input type="radio" class="typeBtn firstFrom category" id="1" value="1" name="task_type">
            <label for="css">Personal</label><br>
            <input type="radio" class="typeBtn firstFrom category" id="2" value="2" name="task_type"> -->
        </div>





        <div>
          <div class="inputdiv">
            <div>
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                What is on your Task
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-black focus:bg-white"
                id="grid-first-name" type="text" placeholder="projectName">
              <!-- <label for="project">What is on your task?</label>
              <input type="text" placeholder="E.g Make Task " name="Task_name" class="projectName" /> -->
            </div>
            <div>

              <label for="project" placeholder="Get Date/Time">What on your due?</label>
              <input type="datetime-local" placeholder="Get Date/Time" class="dateTime" value="" name="dateTime" />
            </div>
          </div>
        </div>
        <div class="matix">
          <div class="urgentDiv">
            <label for="project">Urgent</label>
            <br>
            <label for="css">Yes</label>
            <input type="radio" class="urgent-priority-btn data" id="1" value="0" name="urgent">
            <label for="css">No</label>
            <input type="radio" class="urgent-priority-btn data" id="2" value="1" name="urgent">
          </div>
          <div class="ImportantDiv">
            <label for="project">Important</label><br>
            <label for="css">Yes</label>
            <input type="radio" class="important-priority-btn" id="1" value="0" name="important">
            <label for="css">No</label>
            <input type="radio" class="important-priority-btn" id="2" value="1" name="important">
          </div>
        </div>
        <button type="submit" onclick="store()" class="submit-btn">Submit</button>
      </form>
    </div>
  </div>
  </div>
  </div>

  <!-- this is multiple-input-form  -->
  <div class="multiple-input-form">`
    <form action="" method="post" class="multiple-form">
      <div class="forms-inner-div">
        <!-- multiple forms injected here  -->
      </div>
      <div class="addOneMoreTodo">
        <span class="addDivBtn" onclick="AddOneMoreForm()">+</span>
      </div>
      <div class="multiForm-btn-div">
        <!-- <button type="button" class="cancel-btn">Cancel</button> -->
        <button type="button" class="submit-btn">Submit</button>
      </div>
    </form>

  </div>
  <div class="Task-Details">
    <h1>Todo list</h1>
    <hr>
    <div class="Task-list">

      <h3>Task name</h3>

      <h3>Due date and Time</h3>
      <h3>mark as completed</h3>
    </div>
    <hr>

  </div>
  <div class="task-info">
    <div class="list-name">
      <h5>todo app design</h5>
      <h5>22/07/2022</h5>
    </div>
    <div class="add-Cmt">

      <input type="text" placeholder="comment here ">
      <button><i class="fa-solid fa-upload"></i></button>

    </div>
    <div>
      <div class="Task-progress">
        <input type="checkbox" name="" id="">
      </div>

      <div class="make-changes">
        <button><i class="fa-solid fa-pen"></i></button>
        <button><i class="fa-solid fa-trash-can"></i></button>
        <button><i class="fa-solid fa-comment"></i></i></button>
      </div>

    </div>
  </div>
  </div>

  <script src="../JS/listing.js"></script>

</body>

</html>